.img {
    position: absolute;
    width:800px;
    height:auto;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  .img:first-child {
    /* display: block; */
    opacity: 1;
  }

  #wrap {
    padding: 20px;
  }

  div {
    margin: 5px 0px
  }